body {
    background-color: #faedcd;
    border: 5px solid black;
    margin: 5px 400px;
    padding: 20px 5px 20px 5px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    text-align: center;
    margin: 10px 300px auto;
    display: inline-block;
}

.ingredients {
    padding: 0px 10px 0px 10px;
}

.steps {
    padding: 0px 10px 0px 10px;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0px 0px 0px 10px
}

ol {
    padding: 0px 0px 0px 20px;
}